<pre>{{error.status}} Error - {{message}}</pre>
<pre> If you continue to experience this error and believe it is a bug, <a href="http://horatiulazu.ca">contact me</a>.</pre>
<!-- <pre>{{error.stack}}</pre> -->
