<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <title> Wind Analysis - Home </title>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li class="heading active"><a href="#">Home </a> </li>
                        <li><a href="/segments">Segments</a></li>
                        <li><a href="/rides">Rides</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="ink-grid">
            <br>
            <h2>Home Page</h2>

            <div class= "column-group">
                <nav class= "ink-navigation sidebar">
                    <div class= "all-20">
                        <ul class="menu vertical">
                            <li class="heading"> <p> Left bar</p> </li>
                        </ul>
                    </div>
                </nav>
                <div class="all-80">
                    <p class="fw-100"> Right Bar </p>
                </div>
            </div>
        </div>

    </body>
</html>