<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <title> Hello World </title>
    </head>

    <body class="fw-300">
        <nav class="ink-navigation">
            <ul class="menu horizontal black">
                <div class="ink-grid">
                    <li class="heading active"><a href="#">Home </a> </li>
                    <li><a href="/segments">Segments</a></li>
                    <li><a href="/rides">Rides</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logoff</a></li>
                </div>
            </ul>
        </nav>

        <div class="ink-grid">
            <br>
            <p class="slab-300 section-title">Strava Wind Analysis</p>

            <div class= "column-group">
                <nav class= "ink-navigation sidebar">
                    <div class= "all-20">
                        <ul class="menu vertical">
                            <li class="heading"> <p class="slab-300 section-title">Strava Wind Analysis</p> </li>
                        </ul>
                    </div>
                </nav>
                <div class="all-80">
                    <p class="fw-100"> hi </p>
                </div>
            </div>
        </div>

    </body>
</html>