<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <title> Hello World </title>
    </head>

    <body>
        <h1>{{title}}</h1>
        <p>Please <a href="/login"> login</a>.</p>
    </body>
</html>