<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Strava Wind Segment Analysis takes segment efforts and compares how much wind helped athletes on the leaderboard for Strava segments.">
		<meta name="author" content="Horatiu Lazu">
		<meta name="keywords" content="Strava,Weather,Analysis,Wind,Segment,KOM,Analytics,Stats,Statistics,MachineLearning">
		<link rel="shortcut icon" href="/images/ThumbnailDesign_1.ico">
		<title>Strava Analysis</title>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" media="screen">
		<link href="/stylesheets/simple-line-icons.css" rel="stylesheet" media="screen">
		<link href="/stylesheets/animate.css" rel="stylesheet">
		<link href="/stylesheets/login-style.css" rel="stylesheet" media="screen">
		<script src="/javascripts/modernizr.custom.js"></script>
	</head>
	<body>
		<section id="home" class="pfblock-image screen-height">
			<div class="home-overlay"></div>
			<div class="intro">
				<div class="start"></div>
				<h1>Strava Wind Analysis</h1>
				<div class="start">Ride and segment analytics using wind data and machine learning.</div>
				<a href="/login"> <img src="/images/stravaconnect.png"> </a>
			</div>
			<a href="#passions">
				<div class="scroll-down">
					<span>
					<i class="fa fa-angle-down fa-2x"></i>
					</span>
				</div>
			</a>
		</section>

		<header class="header">
			<nav class="navbar navbar-custom" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">Strava Wind Analysis</a>
					</div>
					<div class="collapse navbar-collapse" id="custom-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">Home</a></li>
							<li><a href="#description">Description</a></li>
							<li><a href="#segments">Segments</a></li>
							<li><a href="#rides">Rides</a></li>
							<li><a href="#poweredby">Powered By</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<section id="description" class="pfblock pfblock-gray">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title">Strava Wind Analysis</h2>
							<div class="pfblock-line"></div>
							<div class="pfblock-subtitle">
								Strava Segment Analysis provides machine learning analytics and data visualization to your rides and segments. <!-- Features include ability to compute winds' influence, aggregate statistics, regression, visualizations and more! -->
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="pfblock-subtitle">Feature overview:
							<ul>
								<li>Leaderboard wind and influence statistics</li> 
								<li>Athlete comparison for segment performance</li> 
								<li>Detailed charts for segment performance including historical data and leaderboard trends</li> 
								<li>Segment performance regressions (ordinary linear, ridge, isotonic) and cubic interpolation</li>
								<li>Activity clustering, performance anomaly detection, segment recommender system</li>  
								<li>Time-series charts for overall activities</li> 
							</ul>

						</div>
					</div>
					<div class="col-sm-7">
						<canvas id="chart"></canvas>
					</div>
				</div>
			</div>
		</section>

		<section id="portfolio" class="pfblock">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title">Segment Analytics</h2>
							<div class="pfblock-subtitle">
								This site provides the ability to analyze your segment efforts against other athletes and your own historical ride performance.</a>.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pfblock pfblock-gray" id="skills">
			<div class="container">
				<div class="row skills">
					<div class="row">
						<div class="col-sm-12 col-sm-offset-0">
							<div class="pfblock-header wow fadeInUp">
								<h2 class="pfblock-title">Built Using / Powered By</h2>
								<div class="pfblock-line"></div>
								<div class="pfblock-subtitle">
									<img src="https://i.imgur.com/LTCwdl8.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="copyright">
							Copyright © 2018 Horatiu Lazu</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<div class="scroll-up">
			<a href="#home"><i class="fa fa-angle-up"></i></a>
		</div>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-74979520-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/javascripts/jquery.parallax-1.1.3.js"></script>
		<script src="/javascripts/imagesloaded.pkgd.js"></script>
		<script src="/javascripts/jquery.sticky.js"></script>
		<script src="/javascripts/smoothscroll.js"></script>
		<script src="/javascripts/wow.min.js"></script>
		<script src="/javascripts/waypoints.min.js"></script>
		<script src="/javascripts/jquery.cbpQTRotator.js"></script>
		<script src="/javascripts/custom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script>
			const data = {
				labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], // eslint-disable-line
				datasets:
				[{ type: 'line',
					label: 'Historical Segment Performance',
					data: [27.9, 24.9, 29.9, 29.3, 34.9, 30.3, 29.3, 31.5, 35.3, 37, 33.4, 36.5, 38.6],
					fill: false,
					backgroundColor: ['rgb(75, 192, 192)'],
					borderColor:
					['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'],
					borderWidth: 1,
					lineTension: 0.2 },
				{ type: 'line',
					label: 'Ordinary Linear Regression',
					data: [27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
					fill: false,
					backgroundColor: ['rgb(255, 87, 34)'],
					borderColor:
					['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'],
					borderWidth: 1,
					lineTension: 0.2 }
				],
			};
			const ctxIndividualEffortsSpeedChart = document.getElementById('chart').getContext('2d');
			ctxIndividualEffortsSpeedChart.clearRect(0, 0, ctxIndividualEffortsSpeedChart.width, ctxIndividualEffortsSpeedChart.height);
			const options = {
				"title": {
					display: true,
					text: 'Banbury Road 5km - Individual Segment Performance'
				},
				"scales": {
					"yAxes": [{
						"ticks": {
							"beginAtZero": true,
							"callback": (value, index, values) => {
								return value + 'km/h';
							},
						},
					}],
				}
			};

			let inView = false;

			function isScrolledIntoView(elem){
				const docViewTop = $(window).scrollTop();
				const docViewBottom = docViewTop + $(window).height();

				const elemTop = $(elem).offset().top;
				const elemBottom = elemTop + $(elem).height();

				return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
			}
			
			$(window).scroll(function() {
				if (isScrolledIntoView('#chart')) {
					if (inView) { return; }
					inView = true;
					const allEffortsBarChart = new Chart(ctxIndividualEffortsSpeedChart, {
						type: 'bar',
						data: data,
						options: options
					});
				} else {
					inView = false;  
				}
			});
		</script>
	</body>
</html>