<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Strava Wind Segment Analysis takes segment efforts and compares how much wind helped athletes on the leaderboard for Strava segments.">
		<meta name="author" content="Horatiu Lazu">
		<meta name="keywords" content="Strava,Weather,Analysis,Wind,Segment,KOM,Analytics,Stats,Statistics,MachineLearning">
		<link rel="shortcut icon" href="/images/ThumbnailDesign_1.ico">
		<title>Strava Analysis</title>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" media="screen">
		<link href="/stylesheets/simple-line-icons.css" rel="stylesheet" media="screen">
		<link href="/stylesheets/animate.css" rel="stylesheet">
		<link href="/stylesheets/login-style.css" rel="stylesheet" media="screen">
		<script src="/javascripts/modernizr.custom.js"></script>
	</head>
	<body>
		<section id="home" class="pfblock-image screen-height">
			<div class="home-overlay"></div>
			<div class="intro">
				<div class="start"></div>
				<h1>Strava Wind Analysis</h1>
				<div class="start">Ride and segment analytics using wind data and machine learning.</div>
				<a href="/login"> <img src="/images/stravaconnect.png"> </a>
			</div>
			<a href="#passions">
				<div class="scroll-down">
					<span>
					<i class="fa fa-angle-down fa-2x"></i>
					</span>
				</div>
			</a>
		</section>

		<header class="header">
			<nav class="navbar navbar-custom" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"></a>
					</div>
					<div class="collapse navbar-collapse" id="custom-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">Home</a></li>
							<li><a href="#description">Description</a></li>
							<li><a href="#segments">Segments</a></li>
							<li><a href="#screenshots">Screenshots</a></li>
							<li><a href="#poweredby">Powered By</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<section id="description" class="pfblock pfblock-gray">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title">Strava Wind Analysis</h2>
							<div class="pfblock-line"></div>
							<div class="pfblock-subtitle">
								Strava Segment Analysis provides machine learning analytics and data visualization to your activities and segments. <!-- Features include ability to compute winds' influence, aggregate statistics, regression, visualizations and more! -->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<div class="pfblock-subtitle">Feature overview:
							<ul>
								<li>Leaderboard wind and influence statistics</li> 
								<li>Athlete comparison for segment performance</li> 
								<li>Detailed charts for segment performance including historical data and leaderboard trends</li> 
								<li>Segment performance regressions (ordinary linear, ridge, isotonic) and cubic interpolation</li>
								<li>Activity clustering, performance anomaly detection, segment recommender system</li>  
								<li>Time-series charts for overall activities</li> 
							</ul>
						</div>
					</div>
					<div class="col-lg-7">
						<canvas id="chart1"></canvas>
					</div>
				</div>
			</div>
		</section>

		<section id="segments" class="pfblock">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title">Segment Analytics</h2>
							<div class="pfblock-subtitle">
								Provides the ability to analyze your segment efforts against other athletes and your own historical ride performance.</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-offset-0">
						<div class="pfblock-header wow fadeInLeft">
							<canvas id="chart3"></canvas>
							<br>
						</div>
					</div>
					<div class="col-lg-6 col-sm-offset-0">
						<div class="pfblock-header wow fadeInRight">
							<canvas id="chart4"></canvas>
							<br>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-sm-offset-2">
						<div class="pfblock-header wow fadeInUp">
							<canvas id="chart2"></canvas>
							<br>
						</div>
					</div>
				</div>
		</section>
		<section class="pfblock pfblock-gray" id="screenshots">
			<div class="container">
					<h2 style="text-align: center;"> Screenshots </h2>
					<div class="row">
					<div class="col-lg-10 col-sm-offset-1">
						<div class="pfblock-header wow zoomIn">
							<div class="pfblock-header wow zoomIn">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">

								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<img src="https://i.imgur.com/koAyaqZ.png" alt="">
									</div>
									<div class="item">
										<img src="https://i.imgur.com/DD3zIDt.png" alt="">
									</div>
									<div class="item">
										<img src="https://i.imgur.com/Oc4UtoW.png" alt="">
									</div>
								</div>
								</div>
							</div>
						</div>
				</div>
				</div>
			</div>
		</section>

		<section class="pfblock pfblock" id="poweredby">
			<div class="container">
				<div class="row skills">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="pfblock-header wow zoomIn">
								<h2 class="pfblock-title">Built Using / Powered By</h2>
								<div class="pfblock-line"></div>
								<div class="pfblock-subtitle">
									<img src="https://i.imgur.com/LTCwdl8.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="copyright">
							Copyright © 2018 <a href="http://horatiulazu.ca" target="_blank" style="text-decorations: none; color: inherit;">Horatiu Lazu</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<div class="scroll-up">
			<a href="#home"><i class="fa fa-angle-up"></i></a>
		</div>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-74979520-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/javascripts/jquery.parallax-1.1.3.js"></script>
		<script src="/javascripts/imagesloaded.pkgd.js"></script>
		<script src="/javascripts/jquery.sticky.js"></script>
		<script src="/javascripts/smoothscroll.js"></script>
		<script src="/javascripts/wow.min.js"></script>
		<script src="/javascripts/waypoints.min.js"></script>
		<script src="/javascripts/jquery.cbpQTRotator.js"></script>
		<script src="/javascripts/custom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script>
			$("#myCarousel").carousel({interval: 3000});
				// Enable Carousel Indicators
			$(".item1").click(function(){
					$("#myCarousel").carousel(0);
			});
			$(".item2").click(function(){
					$("#myCarousel").carousel(1);
			});
			$(".item3").click(function(){
					$("#myCarousel").carousel(2);
			});
			$(".item4").click(function(){
					$("#myCarousel").carousel(3);
			});

			const individualSegmentdata = {
				labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
				datasets:
				[{ type: 'line',
					label: 'Historical Segment Performance',
					data: [27.9, 24.9, 29.9, 29.3, 34.9, 30.3, 29.3, 31.5, 35.3, 37, 33.4, 36.5, 38.6],
					fill: false,
					backgroundColor: 'rgb(33,150,243)',
					borderColor:
					'rgb(33,150,243)',
					borderWidth: 1,
					lineTension: 0.2 },
				{ type: 'line',
					label: 'Ordinary Linear Regression',
					data: [27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
					fill: false,
					backgroundColor: 'rgb(255, 87, 34)',
					borderColor: 'rgb(239,83,80)',
					borderWidth: 1,
					pointRadius: 0,
					lineTension: 0.2 }
				],
			};
			const ctxIndividualEffortsSpeedChart = document.getElementById('chart1').getContext('2d');
			ctxIndividualEffortsSpeedChart.clearRect(0, 0, ctxIndividualEffortsSpeedChart.width, ctxIndividualEffortsSpeedChart.height);
			const options = {
				"title": {
					display: true,
					text: 'Banbury Road 5km - Individual Segment Performance'
				},
				"scales": {
					"yAxes": [{
						"ticks": {
							"beginAtZero": true,
							"callback": (value, index, values) => {
								return value + 'km/h';
							},
						},
					}],
				}
			};

			const radarData = {
				labels: ['North', 'North East', 'East', 'South East', 'South', 'South West', 'West', 'North West'],
				datasets:
				[{ type: 'radar',
					label: 'Neal Tayler',
					data: [32, 32, 34, 26, 23, 23, 33, 42],
					fill: true,
					backgroundColor: 'rgba(54,162,235,0.2)',
					borderColor: 'rgb(33,150,243)',
					borderWidth: 3,
					lineTension: 0.2 },
				{ type: 'radar',
					label: 'Keighley Goldie', 
					data: [34, 22, 27, 24, 27, 26, 31, 39],
					fill: true,
					backgroundColor: 'rgba(255,99,132,0.2)',
					borderColor: 'rgb(255,99,132)',
					borderWidth: 3,
					lineTension: 0.2 }],
			};

			const ctxIndividualEffortsRadarChart = document.getElementById('chart2').getContext('2d');
			ctxIndividualEffortsRadarChart.clearRect(0, 0, ctxIndividualEffortsRadarChart.width, ctxIndividualEffortsRadarChart.height);
			const optionsRadar = {
				"title": {
					display: true,
					text: 'Banbury Road 5km - Wind Direction & Speed Overlay'
				},
				"scale": {
					"ticks": {
						"beginAtZero": true,
						"callback": (value, index, values) => {
							return value + 'km/h';
						},
					},
				}
			};

			const aggregateBarChartData =  {
      labels: ['0-10km/h', '10-20km/h', '20-30m/h', '30-40km/h', '40-50km/h', '50km/h+'],
      datasets:
				[{ label: 'Leaderboard Segment Efforts',
					data: [11, 1222, 3422, 1344, 322, 8, 2],
					fill: false,
					backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 205, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(201, 203, 207, 0.2)'],
					borderColor:
					['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'],
					borderWidth: 1 }],
			};

			const aggregateBarChartOptions = {
				title: {
					text: 'Railtrail Southbound Leaderboard Segment Performance',
					display: true
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							callback: value => `${value}`,
						},
					}],
				},
			};

			const ctxLeaderboardEffortSegmentedChart = document.getElementById('chart4').getContext('2d');
			ctxLeaderboardEffortSegmentedChart.clearRect(0, 0, ctxLeaderboardEffortSegmentedChart.width, ctxLeaderboardEffortSegmentedChart.height);

			const leaderboardChartData = {
      labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], // eslint-disable-line
      datasets:
        [{ type: 'line',
          label: 'Horatiu Lazu', // eslint-disable-line
          data: [30, 34, 32, 31, 34, 36, 34, 32, 39, 38.4, 32, 44],
          fill: false,
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(158,158,158)',
          borderWidth: 1,
          lineTension: 0.2 },
					{ type: 'line',
          label: 'Apaar Madan', // eslint-disable-line
          data: [28, 33, 35, 38, 33, 37, 38, 36, 36, 40.4, 36, 39],
          fill: false,
          backgroundColor: 'rgb(33,150,243)',
          borderColor: 'rgb(33,150,243)',
          borderWidth: 1,
          lineTension: 0.2 },
					{ type: 'line',
          label: 'Mohit Baghat', // eslint-disable-line
          data: [27, 30, 25, 30, 31, 28, 32, 29, 33, 32, 33, 30.5],
          fill: false,
          backgroundColor: 'rgb(139,195,74)',
          borderColor: 'rgb(139,195,74)',
          borderWidth: 1,
          lineTension: 0.2 }],
			};

			const leaderboardChartOptions = {
				title: {
					display: true,
					text: 'Banbury Road 5km - Leaderboard Historic Segment Performance'
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							callback: value => `${value}km/h`,
						},
					}],
				},
			};

			const ctxLeaderboardEffortsLineChart = document.getElementById('chart3').getContext('2d');
			ctxLeaderboardEffortsLineChart.clearRect(0, 0, ctxLeaderboardEffortsLineChart.width, ctxLeaderboardEffortsLineChart.height);

			let inViewChart1 = false;
			let inViewChart2 = false;
			let inViewChart3 = false;
			let inViewChart4 = false;

			function isScrolledIntoView(elem){
				const docViewTop = $(window).scrollTop();
				const docViewBottom = docViewTop + $(window).height();

				const elemTop = $(elem).offset().top;
				const elemBottom = elemTop + $(elem).height();

				return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
			}

			$(window).scroll(function() {
				if (isScrolledIntoView('#chart1')) {
					if (inViewChart1) { return; }
					inViewChart1 = true;
					const allEffortsBarChart = new Chart(ctxIndividualEffortsSpeedChart, {
						type: 'bar',
						data: individualSegmentdata,
						options: options
					});
				} else {
					inViewChart1 = false;  
				}
				if (isScrolledIntoView('#chart2')) {
					if (inViewChart2) { return; }
					inViewChart2 = true;
					const allEffortsBarChart = new Chart(ctxIndividualEffortsRadarChart, {
						type: 'radar',
						data: radarData,
						options: optionsRadar
					});
				} else {
					inViewChart2 = false;  
				}
				if (isScrolledIntoView('#chart3')) {
					if (inViewChart3) { return; }
					inViewChart3 = true;
					const leaderboardChart = new Chart(ctxLeaderboardEffortsLineChart, {
						type: 'line',
						data: leaderboardChartData,
						options: leaderboardChartOptions
					});
				} else {
					inViewChart3 = false;  
				}
				if (isScrolledIntoView('#chart4')) {
					if (inViewChart4) { return; }
					inViewChart4 = true;
					const leaderboardSegmentedChart = new Chart(ctxLeaderboardEffortSegmentedChart, {
						type: 'bar',
						data: aggregateBarChartData,
						options: aggregateBarChartOptions
					});
				} else {
					inViewChart4 = false;  
				}
			});
		</script>
	</body>
</html>