<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <title> Wind Analysis </title>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li class="heading active"><a href="">Home </a> </li>
                        <li class="disabled"><a href="">Segments</a></li>
                        <li class="disabled"><a href="">Rides</a></li>
                        <li class="disabled"><a href="">Settings</a></li>
                        <li><a href="/login">Login</a></li>
                    </div>
                </ul>
            </nav>
        </div>
    </body>
</html>