<html>
    <head>
        <meta name="description" content="Strava Wind Segment Analysis takes segment efforts and compares how much wind helped athletes on the leaderboard.">
        <meta name="author" content="Horatiu Lazu">
        <meta name="keywords" content="Strava,Weather,Analysis,Wind,Segment,KOM">
        
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/css/ink-flex.min.css">
        <title> Wind Analysis - Rides </title>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li><a href="../">Home </a> </li>
                        <li><a href="../segments">Segments</a></li>
                        <li class="heading active"><a href="/rides">Rides</a></li>
                        <li><a href="../settings">Settings</a></li>
                        <li><a href="../logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        <br>
        <br>

        <div class="ink-grid">
            <div class="column-group">
                <div class="all-80">
                    <div style="margin: 10px">
                        <table id="activity-list" class="ink-table hover alternating">
                            <thead>
                                <div class="fw-500">
                                    <tr>
                                        <th class="align-left">Activity Name</th>
                                        <th class="align-left">Date</th>
                                        <th class="align-left">Distance</th>
                                        <th class="align-left">Average Speed</th>
                                        <th class="align-left">Average Wattage</th>
                                    </tr>
                                </div>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>    
                    </div>          
                </div>
                <div class="all-20">
                    <nav class="ink-navigation sidebar">
                        <div class="fw-300">
                            <form class="ink-form">
                                <div class="control-group all-100 small-100 tiny-100">
                                    <div class="control append-button" role="search">
                                        <span><input type="text" name="name" id="name" placeholder="ride id"></span>
                                        <button class="ink-button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Distance </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="d1" checked="checked"><label for="cb5">  0km - 20km</label></li>
                                <li><input type="checkbox" id="d2" checked="checked"><label for="cb4"> 20km - 50km</label></li>
                                <li><input type="checkbox" id="d3" checked="checked"><label for="cb3"> 50km - 100km</label></li>
                                <li><input type="checkbox" id="d4" checked="checked"><label for="cb2"> 100km - 200km</label></li>
                                <li><input type="checkbox" id="d5" checked="checked"><label for="cb1"> 200km+</label></li>
                                <li><input type="checkbox" id="d6" checked="checked"><label for="cb1"> Select All</label></li>
                            </ul>
                            </div>
                        </ul>

                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Average Speed </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="s1" checked="checked"><label for="cb5">  0km/h - 15km/h</label></li>
                                <li><input type="checkbox" id="s2" checked="checked"><label for="cb4"> 15km/h - 18km/h</label></li>
                                <li><input type="checkbox" id="s3" checked="checked"><label for="cb4"> 18km/h - 23km/h</label></li>
                                <li><input type="checkbox" id="s4" checked="checked"><label for="cb4"> 23km/h - 27km/h</label></li>
                                <li><input type="checkbox" id="s5" checked="checked"><label for="cb3"> 27km/h - 33km/h</label></li>
                                <li><input type="checkbox" id="s6" checked="checked"><label for="cb2"> 33km/h - 37km/h</label></li>
                                <li><input type="checkbox" id="s7" checked="checked"><label for="cb1"> 37km/h+</label></li>
                                <li><input type="checkbox" id="s8" checked="checked"><label for="cb1"> Select All</label></li>
                            </ul>
                            </div>
                        </ul>

                    </nav>
                    <hr>
                    <button class="ink-button">Filter Results</button>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/js/holder.js"></script>
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/js/autoload.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/js/modernizr-all.js"></script>
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        
        <script>
            let filteringGroups = new Map();
            filteringGroups.set('d', 6);
            filteringGroups.set('s', 8);

            Array.from(filteringGroups.keys()).forEach((key) => {
                let count = filteringGroups.get(key);
                $('#' + key + '' + count).click(() => {
                    for(let x = 1; x < count; x++){
                        if ($('#' + key + '' + count).is(':checked')){
                            $("#" + key + "" + x).prop('checked', true);
                        }
                        else{
                            $("#" + key + "" + x).prop('checked', false);
                        }
                    }
                });
            });

            $.ajax( {url: "rides/get/activities", success: activities => {
              activities.forEach(activity => {
                let segmentRow = "<tr class=\"fw-100\" onclick=\"window.document.location='/rides/details?id=" + activity.id + "'\">";
                let activityName = activity.name;
                if (activityName.length > 45) {
                    activityName = activityName.substring(0, 43) + '...';
                }
                segmentRow += "<td>" + activityName + "</td>";
                segmentRow += "<td>" + activity.start_date.substring(0, 10) + "</td>";
                segmentRow += "<td>" + (activity.distance / 1000).toFixed(2) + "km </td>";
                segmentRow += "<td>" + ((activity.distance * 3.6) / activity.moving_time).toFixed(2) + " km/h </td>";
                segmentRow += "<td>" + (activity.average_watts === undefined ? ('Zero') : (activity.average_watts)) + " watts </td>";
                segmentRow += "</tr>";
                $("#activity-list tbody").append(segmentRow);
              });
            }});

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-85289613-1', 'auto');
              ga('send', 'pageview');
        </script>

    </body>
</html>