<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/js/ink-all.min.js">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li><a href="../">Home </a> </li>
                        <li class="heading active"><a href="">Segments</a></li>
                        <li><a href="../rides">Rides</a></li>
                        <li><a href="../settings">Settings</a></li>
                        <li><a href="../logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>
        <br><br>
        <div class="ink-grid">
            <div class="column-group">
                <div class="all-80">
                ...
                </div>
                <div class="all-20">
                    <nav class="ink-navigation sidebar">
                        <div class="fw-300">
                            <ul class="menu vertical">
                                <div class="control-group all-50 small-100 tiny-100">
                                    <div class="control append-symbol">
                                        <span>
                                            <input type="text" name="segment" placeholder="segment id">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Distances </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="cb5" name="cb5" value="Chimaira" checked="checked"><label for="cb5"> 0m - 250m</label></li>
                                <li><input type="checkbox" id="cb4" name="cb4" value="Metallica" checked="checked"><label for="cb4"> 250m - 1km</label></li>
                                <li><input type="checkbox" id="cb3" name="cb3" value="Motorhead" checked="checked"><label for="cb3"> 1km - 2.5km</label></li>
                                <li><input type="checkbox" id="cb2" name="cb2" value="Pantera" checked="checked"><label for="cb2"> 2.5km - 5km</label></li>
                                <li><input type="checkbox" id="cb1" name="cb1" value="Slayer" checked="checked"><label for="cb1"> 5km+</label></li>
                                <li><input type="checkbox" id="cb1" name="cb1" value="Slayer" checked="checked"><label for="cb1"> Select All</label></li>
                            </ul>
                            </div>
                        </ul>

                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Rank </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="cb5" name="cb5" value="Chimaira" checked="checked"><label for="cb5"> KOM / QOM</label></li>
                                <li><input type="checkbox" id="cb4" name="cb4" value="Metallica" checked="checked"><label for="cb4"> 2nd - 5th</label></li>
                                <li><input type="checkbox" id="cb3" name="cb3" value="Motorhead" checked="checked"><label for="cb3"> 5th - 10th</label></li>
                                <li><input type="checkbox" id="cb2" name="cb2" value="Pantera" checked="checked"><label for="cb2"> 10th - 25th</label></li>
                                <li><input type="checkbox" id="cb1" name="cb1" value="Slayer" checked="checked"><label for="cb1"> 25th+</label></li>
                                <li><input type="checkbox" id="cb1" name="cb1" value="Slayer" checked="checked"><label for="cb1"> Select All</label></li>
                            </ul>
                            </div>
                        </ul>

                    </nav>
                    <hr>
                    <button class="ink-button">Filter</button>
                </div>
            </div>
        </div>

    </body>
</html>