<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <title> Hello World </title>
    </head>

    <body>
        <h1>Segments</h1>
        <a href="../logout"> Log out </a>
    </body>
</html>