<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <title> Wind Analysis - Settings </title>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li><a href="../">Home </a> </li>
                        <li><a href="../segments">Segments</a></li>
                        <li><a href="../rides">Rides</a></li>
                        <li class="heading active"><a href="">Settings</a></li>
                        <li><a href="../logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="ink-grid">
            <br>
            <br>
            Coming soon!
        </div>
        <script>
            
        </script>
    </body>
</html>