<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/css/ink-flex.min.css">
        <title> Wind Analysis - Settings </title>

        <style>
            footer {
                background: #ccc;
            }
        </style>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li><a href="../">Home </a> </li>
                        <li><a href="../segments">Segments</a></li>
                        <li><a href="../rides">Rides</a></li>
                        <li class="heading active"><a href="">Settings</a></li>
                        <li><a href="../logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="ink-grid">
            <br>
            <br>
            <form class="ink-form">
                <fieldset>
                    <legend>General Settings</legend>
                    <div class="control-group">
                        <ul class="control unstyled" style="margin-top: -10px">
                            <li class="fw-300"><input type="checkbox" id="ridesFilter"><label for="ridesFilter">Filter non-cycling rides</label></li>
                        </ul>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Strava Profile Details</legend>
                    <div class="control-group">
                        <ul class="control unstyled" style="margin-top: -10px; margin-bottom:-20px">
                            <table class="ink-table">
                            <thead>
                                <tr>
                                <th class="align-left">Field</th>
                                <th class="align-left">Content</th>
                                </tr>
                            </thead>
                            <tbody class="fw-300">
                                <tr>
                                <td>Full Name</td>
                                <td id="name"></td>
                                </tr>
                                <tr>
                                <td>Athlete ID</td>
                                <td id="id"></td>
                                </tr>
                                <tr>
                                <td>Sex</td>
                                <td id="sex"></td>
                                <tr>
                                <td>Weight</td>
                                <td id="weight"></td>
                                <tr>
                                <td>Login Count</td>
                                <td id="logins"></td>
                                <tr>
                                <td>Weather API Usage</td>
                                <td id="api"></td>
                                </tr>
                            </tbody>
                            </table>
                        </ul>
                    </div>
                </fieldset>
                <hr>
                <button class="ink-button red" id="clear">Reset Cache </button>
                <button class="ink-button green" id="apply">Apply Changes</button>
            </form>
        </div>

        <footer class="clearfix" id="footer">
            <div class="ink-grid">
                <div class="fw-300">
                    <p class="note">
                        <br>
                        Copyright © 2018 <a style="text-decorations:none; color:inherit" href="http://horatiulazu.ca" target="_blank">Horatiu Lazu</a>.
                    </p>    
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>
            function resetCache(showMessage) {
                $.ajax({
                    type: "PUT",
                    url: `settings/put/reset-cache`,
                    data: { 
                    },
                    success: (success) => {
                        if (showMessage) {
                            alert(success.message);
                        }
                    },
                    error: (result) => {
                        alert('Operation Failed');
                    }
                });
            }

            $("#clear").click(function(e) {
               resetCache(true);
            });

            $("#apply").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "PUT",
                    url: `settings/put/rides-filter?ridesFilter=${($('#ridesFilter').prop('checked'))}`,
                    data: { 
                    },
                    success: (success) => {
                        alert('Successfully Updated');
                    },
                    error: (result) => {
                    }
                });
                resetCache();
            });

            $.ajax({
                type: "GET",
                url: 'settings/get/user-data?',
                data: { 
                },
                success: (data) => {
                    $("#name").text(data.name);
                    $("#id").text(data.id);
                    $("#weight").text(`${data.weight}kg`);
                    $("#sex").text(data.sex);
                    $("#logins").text(data.logins);
                    $("#api").text(data.api);
                },
                error: (result) => {
                }
            });

            $.ajax({
                type: "GET",
                async: false,
                url: 'settings/get/rides-filter?',
                data: { 
                },
                success: (success) => {
                    if (success === 'false') {
                        $('#ridesFilter').prop('checked', false);
                    } else {
                        $('#ridesFilter').prop('checked', true);
                    }
                },
                error: (result) => {
                }
            });

            $(window).bind("load", function () {
                var footer = $("#footer");
                var pos = footer.position();
                var height = $(window).height();
                height = height - pos.top;
                height = height - footer.height();
                if (height > 0) {
                    footer.css({
                        'margin-top': height + 'px'
                    });
                }
            });

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-85289613-1', 'auto');
              ga('send', 'pageview');
        </script>
    </body>
</html>